$blackTextColor:#333

.icons >>> .swiper-container
    height: 0
    padding-bottom: 60%

    .icon 
        position: relative
        overflow: hidden
        float: left
        width: 25%
        height: 0
        padding-bottom: 30%
        
        .icon-img
            position: absolute
            top: 0
            left: 0
            right: 0
            bottom:1rem
            box-sizing: border-box
            padding: .3rem

            .iconImgContent
                display: block
                margin: 0 auto
                height:100%

        .icon-desc
            position: absolute
            left :0
            right :0
            bottom: 0
            height 1rem
            line-height:1rem
            text-align: center
            color:$blackTextColor
            overflow: hidden
            white-space: nowrap
            text-overflow: ellipsis
            







    
