$darkTextColor=#333
ellipsis()
    owerflow:hidden
    white-space: nowrap
    text-overflow: ellipsis
.icons >>>.swiper-container
    height:0
    padding-bottom:60%    
    .icon
        overflow: hidden
        float: left 
        width:25%
        height:0
        padding-bottom:30% 
    .icon-content
        display: flex
        justify-content: center
        align-items: center
        flex-wrap: wrap
        .p-text
            margin-top: .15rem
            ellipsis()
            color: $darkTextColor      
        .icon-img
            // display: flex
            // justify-content: center
            // align-items: center
            margin-top: .25rem
